body{
    min-width: 300px;
    min-height: 500px;
    font-family: 'Raleway';
    display: grid;
}
h1{
    font-size: 22px;
    font-weight: 700;
    text-align: center;
}
h2{
    font-size: 14px;
    font-weight: 600;
}
p{
    font-size: 16px;
    font-weight: 500;
    text-align: center;
}
.descriptive-text{
    font-size: 18px;
    font-weight: 500;
    display: flex;
    justify-content: center;
}
.restrictions{
    font-size: 16px;
    font-weight: 500;
}
.restrictions li{
    display: grid;
    grid-template-columns: 1fr 1fr;
}
select {
    width: 100%;
    padding: 5px;
    font-size: 16px;
}
#settings-btn{
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 20px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 10px;
}
